<!-- This page is designed to be the size of a sheet of paper -->

<!DOCTYPE html>

<head>
    <style>
        /* make the container the size of a letter sheet of paper */
        .container {
            background: white;
            display: block;
            margin: 0 auto;

            display: grid;
            place-items: center;
        }

        .container[size="Letter"] {
            width: 8.5in;
            height: 11in;
        }

        .container[size="Letter"][layout="portrait"] {
            width: 29.7cm;
            height: 21cm;
        }

        @media print {
            body, page {
                margin: 0;
                box-shadow: 0;
            }

            /* hide no-print elements on print */
            .no-print {
                display: none !important;
            }
        }
    </style>

        <!-- QR Code Gen Library -->
        <script src="/qrcode.min.js"></script>
</head>

<body>
    <button class="no-print" onclick="window.history.back()">Back</button>
    <div class="container" size="Letter">
        <h1>Jukebox App - <%= account.displayName %></h1>

        <div id="qrcode"></div>

        <h3>Scan to suggest a song!</h3>
    </div>
</body>

<script>
    new QRCode(document.getElementById("qrcode"), "https://jb-app-91e27d952195.herokuapp.com/search?suggestTo=<%= account.id %>");
</script>