<%- include('../base/top') %>

<div class="container" style="background-color: beige;">
    <h1>Home Page</h1>
    <div class="row">
        <a href="/account/read">My Account</a><br>
        <a href="/profile">My Profiles</a>
    </div>
    
</div>



<%- include('../base/bottom') %>
