<!DOCTYPE html>

<html>
    <head>
        <title>Jukebox Project</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        <!-- Error Reporting -->
        <% if(locals.error) { %>
            <div style="color: red">
                <p>Error: </p>
                <p><%= error %></p>
            </div>
        <% } %>

        <% if(locals.message) { %>
            <div style="color: blue">
                <p>Message: </p>
                <p><%= message %></p>
            </div>
        <% } %>

        <!-- Page Content Starts -->
        <header class="top-bar">
            <nav>
               <a href="/">Home</a>  
            </nav>
        </header>
        
         