<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
<!--         
        <link rel="stylesheet" type="text/css" href="/style.css">   
        -->
        <title>Jukebox Project</title>

        <style>

        </style>
    </head>

    <body>
        <!-- Error Reporting -->
        <% if(locals.error) { %>
            <div style="color: red">
                <p>Error: </p>
                <p><%= error %></p>
            </div>
        <% } %>

        <% if(locals.message) { %>
            <div style="color: blue">
                <p>Message: </p>
                <p><%= message %></p>
            </div>
        <% } %>

        
        <!-- Navigation Bar -->
        <section id="navigation"> 
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand text-light px-2 py-3 font-weight-bold" style="background: linear-gradient(90deg,rgba(209, 0, 164, 1) 0%, rgba(153, 0, 120, 1) 22%, rgba(0, 130, 150, 1) 84%, rgba(0, 189, 182, 1) 100%)" href="/">Jukebox App</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>  
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/account/read">My Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">My Profiles</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <script>
                // Highlight current page in the navbar
                window.addEventListener('DOMContentLoaded', () => {
                    const links = document.querySelectorAll('.nav-link');
                    const currentPath = window.location.pathname.split('/').pop();

                    links.forEach(link => {
                        const linkPath = link.getAttribute('href').split('/').pop();
                        if (linkPath === currentPath) {
                            link.classList.add('active');
                        }
                    });
                });
            </script>

        </section>

        <!-- Page Content Starts -->
        
         