
/* PROFILE SPECIFIC
 */

.tableProfile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile{
    border: 1px dashed black; 
    padding: 10px;
    height:fit-content;
    width: 200px;
    background-color: rgb(180, 204, 190);
    text-align: center;
    margin: 20px;
}

.results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-result{
    padding: 10px;
    height: 250px;
    width: 250px;
    background-color: rgb(133, 133, 133);
    text-align: center;
    margin: 20px;
}
