<%- include('../base/top') %>

<div class="container">
    <h1>Create Profile</h1>

    <form method="post" action="/profile/create" enctype="application/x-www-form-urlencoded">
        <div class="input-data">
            <input type="text" name="displayName" placeholder = "Display Name" required>
            <input type="hidden" name="accountId" value="<%= account.id %>" readonly>
        </div>

        <div class="input-data">
            <input type="submit" value="Create" > 
        </div> 
    </form> 
</div>


<%- include('../base/bottom') %>
