<%- include('../base/top') %>

<div class="row justify-content-center">
    <a class="btn btn-primary p-3 m-2" href="/profile/create?accountId=<%= account.id %>"><h3>Create Profile</h3></a>
</div>

<div class="tableProfile">
    <% // render partial for each profile %>
    <% for(let profile of profiles) { %>
        <%- include('./partial', { profile: profile }) %>
    <% } %>
</div>


<%- include('../base/bottom') %>
