<%- include('../base/top') %>

<h1>Update Profile</h1>

<form method="post" action="/profile/update" enctype="application/x-www-form-urlencoded">
    <label for="displayName">Display Name</label>
    <input type="text" name="displayName">
    <input type="hidden" name="profileId" value="<%= profile.id %>" readonly>
    <input type="submit" value="Update"> 
</form>

<%- include('../base/bottom') %>
