
/* PROFILE SPECIFIC
 */

.tableProfile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    height: fit-content;
}

.rowProfile{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
}

.profile{
    border: 1px dashed black; 
    padding: 10px;
    height:fit-content;
    width: 200px;
    background-color: bisque;
    text-align: center;
    margin: 20px;
}
